<form>
    <div class="form-group">
        <label for="exampleInputNombre">Nombre</label>
        <input type="Nombre" class="form-control" id="exampleInputNombre" maxlength="15" placeholder="Nombre" data-ng-model="Item.Nombre" required>
    </div>
    <div class="form-group">
        <label for="exampleInputApellido">Codigo</label>
        <input type="Apellido" class="form-control" id="Apellido" maxlength="15" placeholder="Apellido" data-ng-model="Item.codigo" required>
    </div>
    <div class="form-group">
        <label for="exampleInputApellido">Prescripcion</label>
        <input type="Apellido" class="form-control" id="Apellido" maxlength="15" placeholder="Apellido" data-ng-model="Item.Prescripcion" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPrioridad">Casa Farmaceutica</label>
        <input class="form-control" id="exampleInputPrioridad" maxlength="1" placeholder="Prioridad" data-ng-model="Item.CasaFarmaceutica">
    </div>
    <div class="form-group">
        <label for="exampleInputfNnacimiento">Costo</label>
        <input class="form-control" id="exampleInputfNnacimiento" data-ng-model="Item.Costo" required>
    </div>
    <!--<div class="form-group">
        <label for="sel1">Sucursal: </label>
        <select class="form-control" id="sel1" ng-model="selectedMed">
            <option ng-repeat="x in data" value="{{x.Nombre}}" selected="selected">{{x.Nombre}}</option>
        </select>
    </div>-->
    <!--<div class="form-group">
        <label for="exampleInputTelefono"></label>
        <input class="form-control" id="exampleInputTelefono" maxlength="45" placeholder="Residencia"  ng-model="selectedCar" >
    </div>
    <div class="form-group">
        <label for="exampleInputDescripcion">Descripcion </label>
        <input class="form-control" id="exampleInputDescripcion" maxlength="45" placeholder="Telefono" ng-model="descrp">
        <label for="exampleInputTelefono">New Phone:</label>
        <input class="form-control" id="exampleInputTelefono" maxlength="45" placeholder="Telefono" ng-model="newPhoneC">
    </div>-->
    <button type="Add" class="btn btn-secondary" data-ng-click="save()">Save Changes</button>
    <button type="Add" class="btn btn-secondary" data-ng-click="cancel()">Cancel</button>
    <button type="Add" class="btn btn-primary" data-ng-click="delete()">Delete</button>
    <button type="Add" class="btn btn-primary" data-ng-click="addPhone()">Add Phone</button>
</form>
