<form>
    <h1>Ingrese los datos de su receta </h1>

    <div class="container">
        <br>
        <div class="form-group" ng-controller="pedidosController">
            <label> Datos del pedido </label>

            <br>
            <div class="form-group">
                <label for="exampleInputNombre">Fecha</label>
                <input class="form-control" input type="date" id="exampleInputQuantity" placeholder="0" data-ng-model="Item.FechaRecojo">
            </div>
            <div class="form-group">
                <label for="exampleInputApellido">Hora</label>
                <input class="form-control" input type="time" id="exampleInputQuantity" placeholder="0" data-ng-model="Item.HoraRecojo">
            </div>
            <div class="form-group">
                <label for="exampleInputApellido">Número de Sucursal</label>
                <input class="form-control" input type="number" id="exampleInputSucursal" placeholder="Número de Sucursal" data-ng-model="Item.Sucursal">
            </div>
            <br>
            <br>
        </div>

        <div>
            <label> En la orden: </label>
            <br>
            {{Su orden está vacía}}

            <br>
            <label> Medicamentos </label>
            <br>
            <input class="form-control" input type="number" id="exampleInputQuantity" placeholder="0" max="255" min="1" data-ng-model="Item.Quantity">
            <input class="form-control" id="exampleInputNombre" maxlength="15" placeholder="Medicamento" data-ng-model="Item.Nombre">
            <br>
            <button type="button" onclick=""> Añadir más </button>
        </div>

        <div>
            <div class="form-group">
                <label> Recetas </label>
                <br>
                <button data-ng-click="addReceta()" class="btn btn-primary">Añadir Receta</button>
            </div>
        </div>

        <br>
        <div>
            <button class="btn btn-secondary" data-ng-click="save()"> Guardar </button>
            <button class="btn btn-secondary" datahng-click="cancel()"> Cancelar </button>
            <button class="btn btn-primary" data-ng-click="delete()"> Borrar </button>
        </div>
    </div>

</form>