<form>
    <h1><span class="label label-danger">Ingrese los Datos de su Pedido</span></h1>
    <div ng-if="verifique == true">
        <div ng-if="recetarioLenght == 0" ng-init="alerteTermino()"></div>
    </div>
    <div ng-if="boolEmpresa == true">
        <div ng-if="empresaBool == 'Farmatica'" ng-init="cambieEmpresa('F')"></div>
        <div ng-if="empresaBool == 'Phischel'" ng-init="cambieEmpresa('P')"></div>
    </div>
    <div class="container">
        <br>
        <div class="form-group">
            <br>
            <div class="form-group">
                <h4>Fecha</h4>
                <input class="form-control" input type="datetime-local" id="exampleInputQuantity" placeholder="0" data-ng-model="FechaR" required>
            </div>
            <h4>Seleccione Sucursal de Recojo</h4>
            <div class="btn-block">
                <div class="btn-group" ng-class='{open: open}'>
                    <button class="btn" ng-click='open=!open'>{{sucActual}}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="datos in recList"><a data-ng-click="addNoSuc(datos.NoSucursal,datos.Nombre)" required>{{datos.Nombre}}</a></li>
                        <!-- <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
            </div>
            <h4>Seleccione la Empresa</h4>
            <div class="btn-block">
                <div class="btn-group" ng-class='{open: open}'>
                    <button class="btn" ng-click='open=!open'>{{empSelected}}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="dato in empList"><a data-ng-click="empresaCambio(dato)" required>{{dato}}</a></li>
                        <!-- <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <h4>Seleccione un Telefono: </h4>
                <select class="form-control" id="sel1" ng-model="phones">
                    <option ng-repeat="x in telefonos" value="{{x.Telefono}}" selected="selected">{{x.Telefono}}</option>
                </select>
            </div>
            <!--
            <div class="form-group">
                <label for="exampleInputApellido">Número de Sucursal</label>
                <input class="form-control" input type="number" id="exampleInputSucursal" placeholder="Número de Sucursal" data-ng-model="Suc">
            </div>
            -->
        </div>
        <h1><span class="label label-danger">Seleccione sus Medicamentos y Recetas</span></h1>
        <div>
            <br>
            <br>
            <h4>Medicamentos</h4>
            <br>
            <div class="form-group">
                <label for="exampleInputResidencia">Cantidad</label>
                <input class="form-control" id="exampleInputCantidad" maxlength="45" placeholder="Cantidad" data-ng-model="cantidad">
            </div>
            <div class="btn-block">
                <div class="btn-group" ng-class='{open: open}'>
                    <button class="btn">{{medActual}}</button>
                    <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="datos in medListP"><a data-ng-click="addMedPed(cantidad,datos.codigo,datos.Nombre,datos.Costo)">{{datos.Nombre}}</a></li>
                        <!-- <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>-->
                    </ul>
                </div>
            </div>
            <br>
        </div>
        <h4>Medicamentos en el pedido: </h4>
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>CostoUnitario</th>
                    <th></th>
                </tr>
                <tr data-ng-repeat="item in medListPed  | filter: search">
                    <td>{{item.Nombre}}</td>
                    <td>{{item.Cantidad}}</td>
                    <td>{{item.Costo}}</td>
                    <td><input type="button" value="Remove" class="btn btn-primary" data-ng-click="borrarMedPed($index)" /></td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="form-group">
                <h4> Recetas </h4>
                <br>
                <button data-ng-click="goAddReceta()" class="btn btn-primary">Añadir Receta</button>
            </div>
        </div>

        <br>
        <div>
            <button class="btn btn-secondary" data-ng-click="addPedido(FechaR,phones)"> Guardar </button>
            <button class="btn btn-secondary" datahng-click="cancel()"> Cancelar </button>
            <button class="btn btn-primary" data-ng-click="delete()"> Borrar </button>
        </div>
    </div>

</form>