            <form>
                <label>Ingrese los datos de su receta </label>

                <div class="form-group">
                    <label> Número de doctor </label>
                    <br>
                    <input class="form-control" input type="number" id="exampleInputNoDoctor" placeholder="0" maxlength="255" data-ng-model="Item.NoDoctor" required>
 
                </div>
                <div class="form-group">
                    <label> Medicamentos </label>
                    <br>
                    <input class="form-control" id="exampleInputQuantity" type="number" placeholder="0" maxlength="255" data-ng-model="Item.Quantity">
                    <input class="form-control" id="exampleInputNombre" type="text" placeholder="Medicamento" maxlength="15" data-ng-model="Item.Nombre">
                    <button type="button" onclick=""> Añadir más </button>
                </div>

            <br>
            <div class="form-group">
                <label for="archivo">Imágen</label>
                <input type="file" id="archivo">
                <p class="help-block">Máximo 2MB</p>
            </div>

            <button class="btn btn-secondary" data-ng-click="save()"> Guardar </button>
            <button class="btn btn-secondary" data-ng-click="cancel()"> Cancelar </button>
            <button class="btn btn-primary" data-ng-click="delete()"> Borrar </button>

        </form>
