<html>

<head>
    <meta charset="utf-8">
    <title>Receta</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <br />
        <form action="" class="">

            <div class="form-group">
                <label>Ingrese los datos de su receta </label>
            </div>

            <form>

                <div class="form-group">
                    <label> Doctor </label>
                    <br>
                    <input class="form-control" input type="number" id="exampleInputQuantity" placeholder="0" maxlength="255" data-ng-model="Item.Quantity" required>
 
                </div>
                <div class="form-group">
                    <label> Medicamentos </label>
                    <br>
                    <input class="form-control" input type="number" id="exampleInputQuantity" placeholder="0" maxlength="255" data-ng-model="Item.Quantity" required>
                    <input class="form-control" id="exampleInputNombre" maxlength="15" placeholder="Medicamento" data-ng-model="Item.Nombre" required>
                    <button type="button" onclick="x.Qtty="> Añadir más </button>
                </div>

            </form>
            <br>
            <div class="form-group">
                <label for="archivo">Imágen</label>
                <input type="file" id="archivo">
                <p class="help-block">Máximo 2MB</p>
            </div>

            <button type="Add" class="btn btn-secondary" data-ng-click="save()"> Guardar </button>
            <button type="Add" class="btn btn-secondary" data-ng-click="cancel()"> Cancelar </button>
            <button type="Add" class="btn btn-primary" data-ng-click="delete()"> Borrar </button>

        </form>
    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
