            <form>
                <h1>Ingrese los datos de su receta:</h1>

                <div class="form-group">
                    <h3>Seleccione su doctor:</h3>
                    <div class="btn-block">
                        <div class="btn-group" ng-class='{open: open}'>
                            <button class="btn ras">{{docActual}}</button>
                            <button class="btn dropdown-toggle ras" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="datos in docList"><a data-ng-click="addDoc(datos.NoDoctor,datos.Nombre)">{{datos.Nombre}}</a></li>

                            </ul>
                        </div>
                    </div>
                </div><br><br>
                <div class="form-group">
                    <h3> Medicamentos:</h3>
                    <div class="btn-block">
                        <input class="form-control" id="exampleInputCantidad" maxlength="45" placeholder="Cantidad del Medicamento" data-ng-model="cantidad">
                        <div class="btn-group" ng-class='{open: open}'><br>
                            <button class="btn ras">{{medActual}}</button>
                            <button class="btn ras dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="datos in medListR"><a data-ng-click="addMedRec(cantidad,datos.codigo,datos.Nombre,datos.Costo)">{{datos.Nombre}}</a></li>

                            </ul>
                        </div>
                    </div>
                </div><br>
                <h3>Medicamentos en la Receta: </h3>
                <table class="table table-bordered table-hover table-condensed ip">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>CostoUnitario</th>
                            <th></th>
                        </tr>
                        <tr data-ng-repeat="item in medListRec  | filter: search">
                            <td>{{item.Nombre}}</td>
                            <td>{{item.Cantidad}}</td>
                            <td>{{item.Costo}}</td>
                            <td><input type="button" value="Eliminar" class="btn btn-primary" data-ng-click="borrarMedRec($index)" /></td>
                        </tr>
                    </tbody>
                </table>
            <br>
            <div class="form-group">
                <label for="archivo">Imágen</label>
                <input type="file" id="archivo">
                <p class="help-block">Máximo 2MB</p>
            </div><br>

            <button class="btn btn-success" data-ng-click="addReceta()"> Guardar </button>
            <button class="btn btn-default" data-ng-click="cancel()"> Cancelar </button>

        </form>
