<form>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>CostoUnitario</th>
                <th>Casa Farmaceutica</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="item in Item  | filter: search" >
                <td>{{item.Codigo}}</td>
                <td>{{item.Nombre}}</td>
                <td>{{item.Cantidad}}</td>
                <td>{{item.CostoUnitario}}</td>
                <td>{{item.CasaFarmaceutica}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" data-ng-click="borrar(item.Codigo,item.Cantidad)" /></td>
            </tr>
        </tbody>
    </table>
    <!---<div class="form-group">
        <label for="sel1">Telefonos: </label>
        <select class="form-control" id="sel1" ng-model="selectedCar">
            <option ng-repeat="x in telefonos" value="{{x.Telefono}}" selected="selected">{{x.Telefono}}</option>
        </select>
    </div>-->
    <h1><label for="exampleInputResidencia">Ingresar Nuevo Medicamento a la Receta</label></h1>    
    <div class="form-group">
        <label for="exampleInputResidencia">Cantidad</label>
        <input class="form-control" id="exampleInputCantidad" maxlength="45" placeholder="Cantidad" data-ng-model="cantidad">    
    </div>    
    <div class="btn-block">
        <div class="btn-group" ng-class='{open: open}'>
            <button class="btn">Medicamentos</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="datos in dato"><a data-ng-click="addMed(cantidad,datos.codigo)">{{datos.Nombre}}</a></li>
                <!-- <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
            </ul>
        </div>
        <button type="Add" class="btn btn-secondary" data-ng-click="cancel()">Cancel</button>
        <button type="Add" class="btn btn-secondary" data-ng-click="refresh()">Refresh</button>
    </div>
    <div class="btn-group">
        <div class="form-group">
            
        </div>
    </div>
</form>
