<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
  <h1>Ingrese su Cédula y Password</h1><br/>
    <div class="container-fluid form-group col-md-3">
      <input class="form-control" id="exampleInputCedula" placeholder="Cédula" maxlength="9" data-ng-model="Cedula" required><br/>
      <input class="form-control" id="exampleInputCedula" type = "password" placeholder="Password" maxlength="9" data-ng-model="Pass" required><br/><br/>
      <button type="Add" class="btn btn-success" data-ng-click="login(Cedula,Pass)">Ingresar</button>
      <button type="Add" class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
    </div>


    <div ng-if="go == 1">
        <div ng-if="dato == null" ng-init="alerte()"></div>
        <div ng-if="dato !== null" ng-init="goEmpleadoView()">
            <div ng-if="empleadoType == 'D'" ng-init="goEmpleadoView()"></div>
            <div ng-if="empleadoType == 'G'" ng-init="goGerenteView()"></div>
        </div>
    </div>
</body>
</html>
