<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
  <div class="container-fluid col-md-3 col-md-offset-4">
    <div class="row">
      <a ng-click="clientes()" class="btn btn-primary btn-lg cli">Clientes</a><br/><br/>
      <a ng-click="doctores()" class="btn btn-primary btn-lg cli">Doctores</a><br/><br/>
      <a ng-click="recetas()" class="btn btn-primary btn-lg cli">Recetas</a><br/><br/>
      <a ng-click="medicamentos()" class="btn btn-primary btn-lg cli">Medicamentos</a><br/><br/>
      <a ng-click="pedido()" class="btn btn-primary btn-lg cli">Pedidos</a><br /><br />
       <a ng-click="back()" class="btn btn-primary btn-lg cli">Regresar</a>
    </div>

</div>


</body>
</html>
