<head>
  <title>Recetas Modulo Sucursal</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="shortcut icon"type="image/x/icon" href="img/cot.ico">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/estilos.css">

</head>
<br><br>
<div class="container">

  <section class="jumbotron">
    <div class="container">
      <h1 class="titulo-pag">FarmaTica-Phischel.</h1>
      <p>Unidos y fortalecidos por su salud.</p>


    </div>

  </section>

  <div class="table-responsive">

  </div>
  <form>
      <table class="table table-striped table-hover table-bordered table-condensed">
          <tbody>
              <tr>
                  <th>Codigo</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>CostoUnitario</th>
                  <th>Casa Farmaceutica</th>

              </tr>
              <tr data-ng-repeat="item in Item  | filter: search">
                  <td>{{item.Codigo}}</td>
                  <td>{{item.Nombre}}</td>
                  <td>{{item.Cantidad}}</td>
                  <td>{{item.CostoUnitario}}</td>
                  <td>{{item.CasaFarmaceutica}}</td>
              </tr>
          </tbody>
      </table>
      <button type="Add" class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
  </form>


</div>
