<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="server=.;database=FARMATICA; integrated security=SSPI"/>
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
       
      </protocols>
    </webServices>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>